<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="lip-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lips
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="lip-link">
                <a href="" class="dropdown-item">Lipgloss</a>
                <a href="" class="dropdown-item">Lip Liner</a>
                <a href="" class="dropdown-item">Lip Bases</a>
                <a href="" class="dropdown-item">Lipstick</a>
                <a href="" class="dropdown-item">All Lips</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="eyes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Eyes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="eyes-link">
                <a href="" class="dropdown-item">Pigments</a>
                <a href="" class="dropdown-item">Palletes</a>
                <a href="" class="dropdown-item">Liners</a>
                <a href="" class="dropdown-item">Lashes</a>
                <a href="" class="dropdown-item">Eye Brushes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="face-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Face
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="face-link">
                <a href="" class="dropdown-item">Foundation</a>
                <a href="" class="dropdown-item">Primer</a>
                <a href="" class="dropdown-item">Blush</a>
                <a href="" class="dropdown-item">Brozer</a>
                <a href="" class="dropdown-item">Concealer</a>
                <a href="" class="dropdown-item">Setting Spray</a>
                <a href="" class="dropdown-item">Setting Powder</a>
                <a href="" class="dropdown-item">Face Brushes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="eyebrows-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Eyebrows
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="eyebrows-link">
                <a href="" class="dropdown-item">Eyebrow Gel</a>
                <a href="" class="dropdown-item">Eyebrow liner</a>
                <a href="" class="dropdown-item">Eyebrow stencils</a>
                <a href="" class="dropdown-item">Eyebrow Brushes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bundle Babe
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Gift sets</a>
                <a href="" class="dropdown-item">Brush sets</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>